<html>
<head>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <img src="~/images/logo.jpg" height="100" width="100" />

    <h2>
        your Order is Confirmed!!
        Pizza will be delivered soon.
        <img src="~/images/pizza-delivery.png" />
    </h2>
   <p>
        Contact us :For any issues  <br/>   
        Email:justPizza@gmail.com<br/>
        Phone No:8712356751<br/>

    </p>

</body>
</html>

<a asp-action="Index" class="btn btn-danger"> Home</a>
